<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список устройств</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container">
        <h1>Список устройств</h1>
        <table class="logs-table">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Модель</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                {% for device, details in devices %}
                <tr>
                    <td><a href="{{ url_for('view_logs_by_device', device_id=device) }}">{{ device }}</a></td>
                    <td>{{ details[0] }}</td> <!-- Модель устройства -->
                    <td>{{ details[1] }}</td> <!-- Описание устройства -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>