<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логи</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container">
        <h1>Логи</h1>
        <div class="logs-list">
            {% for log in logs %}
            <div class="log-entry">
                <span class="log-ip">{{ log[1] }}</span>:
                <span class="log-message">{{ log[3] }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        © <a href="https://github.com/Makar-aka" target="_blank">MakarSPB</a>
    </footer>
</body>
</html>