<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки роутеров</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container">
        <h1>Настройки роутеров</h1>

        <!-- Форма добавления нового устройства -->
        <form method="POST">
            <!-- Выпадающее меню для выбора IP из ожидающих -->
            <label for="pending_ip">Добавить ожидающий IP:</label>
            <select id="pending_ip" name="pending_ip">
                <option value="">Выберите IP</option>
                {% for ip in pending_ips %}
                <option value="{{ ip }}">{{ ip }}</option>
                {% endfor %}
            </select>

            <!-- Выпадающее меню для выбора модели роутера -->
            <label for="model">Модель роутера:</label>
            <select id="model" name="model" required>
                <option value="">Выберите модель</option>
                {% for model, details in router_models.items() %}
                <option value="{{ model }}">{{ model }} - {{ details.description }}</option>
                {% endfor %}
            </select>

            <!-- Поле для описания -->
            <label for="description">Описание:</label>
            <input type="text" id="description" name="description" placeholder="Введите описание">

            <!-- Поле для идентификатора устройства -->
            <label for="device_id">Идентификатор устройства:</label>
            <input type="text" id="device_id" name="device_id" placeholder="Если нет ожидающих - введите идентификатор устройства">


            <!-- Кнопка отправки -->
            <button type="submit">Добавить/Обновить</button>
        </form>

        <!-- Список настроек -->
        <h2>Список настроек</h2>
        <table class="logs-table">
            <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Модель</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for router in router_settings %}
                <tr>
                    <td>{{ router[1] }}</td>
                    <td>{{ router[2] }}</td>
                    <td>{{ router[3] }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_router', identifier=router[1]) }}" style="display:inline;">
                            <button type="submit" style="background-color: red; color: white; border: none; padding: 5px 10px; cursor: pointer;">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>