<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="settings-container">
        <h1>Настройки</h1>
        <div class="page-container">
            <h1>Настройки</h1>
            <form method="POST">
                <label for="log_server_port">Порт сервера логов:</label>
                <input type="number" id="log_server_port" name="log_server_port" value="{{ settings.get('log_server_port', '1514') }}" required>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
    <footer>
        © <a href="https://github.com/Makar-aka" target="_blank">MakarSPB</a>
    </footer>
</body>
</html>