<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сменить пароль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container">
        <h1>Сменить пароль</h1>
        <form method="POST">
            <label for="current_password">Текущий пароль:</label>
            <input type="password" id="current_password" name="current_password" required>

            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password" required>

            <label for="confirm_password">Подтвердите новый пароль:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <button type="submit">Сменить пароль</button>
        </form>
    </div>
    <footer>
        © <a href="https://github.com/Makar-aka" target="_blank">MakarSPB</a>
    </footer>
</body>
</html>